.header {
    background: #099d8d;
    display: flex;
    flex-direction: column;
}

.h1 {
    font-size: 16px;
}

.title {
    padding: 15px;
    color: #ffffff;
    text-align: center;
    background: #099d8d;
    text-transform: uppercase;
}

.links {
    font-size: 15px;
    background-color: #14d9c4;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

@media (min-width: 768px) {
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: #099d8d;
        padding: 15px 45px;
    }

    .links {
        background-color: #099d8d;
        width: 400px;
    }
}