<footer class="footer-container">
  <div class="footer-HomePage">
    <section class="copy">
      <p>Nombre del grupo &copy; 2021</p>
    </section>
    <section class="link-footer">
      <a href="" class="specific-link">EQUIPO</a>
      <a href="" class="specific-link">QUIÉNES SOMOS</a>
      <a href="" class="specific-link">CONTACTO</a>
    </section>
    <section class="logo-footer">
      <img
        src="https://github.com/Adalab/project-promo-x-module-1-team-profes/blob/main/logo-adalab.png?raw=true"
        alt="logo-Adalab"
        class="img-logo-footer"
      />
    </section>
  </div>
</footer>
