<footer class="footer-containerD">
  <div class="footer-HomePageD">
    <section class="copyD">
      <p>Sense5 &copy; 2021</p>
    </section>
    <section class="link-footerD">
      <a href="./darkside.html#team" class="specific-linkD">EQUIPO</a>
      <a href="./darkside.html#adalabers" class="specific-linkD"
        >QUIÉNES SOMOS</a
      >
      <a href="./contact.html" class="specific-linkD">CONTACTO</a>
    </section>
    <section class="logo-footerD">
      <a href="www.adalab.es"
        ><img
          src="https://github.com/Adalab/project-promo-x-module-1-team-profes/blob/main/logo-adalab.png?raw=true"
          alt="logo-Adalab"
          class="img-logo-footer"
      /></a>
    </section>
  </div>
</footer>
