<footer class="footer">
  <div class="footer__container">
    <section class="footer__copy">
      <p>Nombre del grupo &footer__copy; 2021</p>
    </section>
    <section class="footer__linksContainer">
      <a href="./index.html#team" class="footer__link">EQUIPO</a>
      <a href="./index.html#adalabers" class="footer__link">QUIÉNES SOMOS</a>
      <a href="./contact.html" class="footer__link">CONTACTO</a>
    </section>
    <section class="footer__logo">
      <img
        src="https://github.com/Adalab/project-promo-x-module-1-team-profes/blob/main/logo-adalab.png?raw=true"
        alt="logo-Adalab"
        class="footer__logoImg"
      />
    </section>
  </div>
</footer>
