<footer class="footerD">
  <div class="footerD__containerD">
    <section class="footerD__copyD">
      <p>Sense5 &copy; 2021</p>
    </section>
    <section class="footerD__linksContainerD">
      <a href="./index.html#team" class="footerD__linkD">EQUIPO</a>
      <a href="./index.html#adalabers" class="footerD__linkD">QUIÉNES SOMOS</a>
      <a href="./contact.html" class="footerD__linkD">CONTACTO</a>
    </section>
    <section class="footerD__logoD">
      <img
        src="https://github.com/Adalab/project-promo-x-module-1-team-profes/blob/main/logo-adalab.png?raw=true"
        alt="logo-Adalab"
        class="footerD__logoImgD"
      />
    </section>
  </div>
</footer>
