<main>
  <!-- HERO -->
  <section class="hero">
    <div class="img-hero"></div>
    <div class="box-claim">
      <h1 class="claim">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </h1>
    </div>
  </section>

  <!-- TEAM -->
  <section id="team" class="container-team">
    <article class="team">
      <h2 class="team-title">EQUIPO</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        illo eos eligendi distinctio? Voluptates unde nam ad sunt eveniet
        necessitatibus recusandae debitis blanditiis, distinctio maxime. Nobis
        natus architecto alias nemo.
      </p>
    </article>

    <!-- DAFO -->

    <div class="triangle"></div>

    <article class="strength-weaknesses">
      <div class="strength">
        <h3>Fortalezas</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nam
          commodi ut? Quas laudantium reiciendis sunt dignissimos velit nihil,
          dolorem rem veniam fuga sit adipisci voluptate, illum asperiores non
          culpa!
        </p>
      </div>

      <div class="weaknesses">
        <h3>Debilidades</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error
          nesciunt labore repellendus dolor ab itaque, fuga voluptatibus officia
          omnis? Aliquam laudantium fugiat delectus cumque iste aliquid
          necessitatibus in? Adipisci, eligendi.
        </p>
      </div>
    </article>
  </section>

  <!-- ADALABERS -->
  <section id="adalabers" class="whoarewe">
    <h2>Quiénes somos</h2>

    <!-- INFO ELIA -->
    <article class="person-info">
      <<<<<<< HEAD <img src="./assets/images/Memoji-Elia-bluegreen.png" alt="Foto de Elia Alonso" />

      =======
      <img src="assets/images/Memoji-Elia.png" alt="Foto de Elia Alonso" />
      >>>>>>> d9c363b2f758075ed11857a29a49d0ee9557f159
      <div class="wrapper-person-info">
        <h3>Elia Alonso</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, ipsa
          tempore voluptas est earum facilis, doloribus blanditiis molestias
          nihil non excepturi nemo veniam suscipit beatae libero dolor minima
          accusantium voluptatibus.
        </p>
        <ul class="wrapper-rrss">
          <li class="icon" id="twitter">
            <i class="fab fa-twitter"></i>
          </li>
          ·
          <li class="icon" id="linkedin">
            <i class="fab fa-linkedin-in"></i>
          </li>
          ·
          <li class="icon" id="github">
            <i class="fab fa-github-alt"></i>
          </li>
          ·
          <li class="icon" id="email"><i class="fas fa-envelope"></i></li>
        </ul>
      </div>
    </article>

    <!-- INFO ROSA -->
    <article class="person-info">
      <img class="odd" src="./assets/images/Memoji-Rosa-bluegreen.png" alt="Foto de Rosa Berned" />
      <div class="wrapper-person-info">
        <h3>Rosa Berned</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, ipsa
          tempore voluptas est earum facilis, doloribus blanditiis molestias
          nihil non excepturi nemo veniam suscipit beatae libero dolor minima
          accusantium voluptatibus.
        </p>
        <ul class="wrapper-rrss">
          <li class="icon" id="twitter">
            <i class="fab fa-twitter"></i>
          </li>
          ·
          <li class="icon" id="linkedin">
            <i class="fab fa-linkedin-in"></i>
          </li>
          ·
          <li class="icon" id="github">
            <i class="fab fa-github-alt"></i>
          </li>
          ·
          <li class="icon" id="email"><i class="fas fa-envelope"></i></li>
        </ul>
      </div>
    </article>

    <!-- INFO PATRI -->
    <article class="person-info">
      <img src="./assets/images/Memoji-Pati-bluegreen.png" alt="Foto de Patricia Lobo" />
      <div class="wrapper-person-info">
        <h3>Patricia Lobo</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, ipsa
          tempore voluptas est earum facilis, doloribus blanditiis molestias
          nihil non excepturi nemo veniam suscipit beatae libero dolor minima
          accusantium voluptatibus.
        </p>
        <ul class="wrapper-rrss">
          <li class="icon" id="twitter">
            <i class="fab fa-twitter"></i>
          </li>
          ·
          <li class="icon" id="linkedin">
            <i class="fab fa-linkedin-in"></i>
          </li>
          ·
          <li class="icon" id="github">
            <i class="fab fa-github-alt"></i>
          </li>
          ·
          <li class="icon" id="email"><i class="fas fa-envelope"></i></li>
        </ul>
      </div>
    </article>

    <!-- INFO MACA -->
    <article class="person-info">
      <img class="odd" src="./assets/images/Memoji-Maca-bluegreen.png" alt="Foto de Maca González" />
      <div class="wrapper-person-info">
        <h3>Maca González</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, ipsa
          tempore voluptas est earum facilis, doloribus blanditiis molestias
          nihil non excepturi nemo veniam suscipit beatae libero dolor minima
          accusantium voluptatibus.
        </p>
        <ul class="wrapper-rrss">
          <li class="icon" id="twitter">
            <i class="fab fa-twitter"></i>
          </li>
          ·
          <li class="icon" id="linkedin">
            <i class="fab fa-linkedin-in"></i>
          </li>
          ·
          <li class="icon" id="github">
            <i class="fab fa-github-alt"></i>
          </li>
          ·
          <li class="icon" id="email"><i class="fas fa-envelope"></i></li>
        </ul>
      </div>
    </article>

    <!-- INFO MARIA -->
    <article class="person-info">
      <img src="./assets/images/Memoji-Maria-bluegreen.png" alt="Foto de María Núñez" />
      <div class="wrapper-person-info">
        <h3>María Núñez</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, ipsa
          tempore voluptas est earum facilis, doloribus blanditiis molestias
          nihil non excepturi nemo veniam suscipit beatae libero dolor minima
          accusantium voluptatibus.
        </p>
        <ul class="wrapper-rrss">
          <li class="icon" id="twitter">
            <i class="fab fa-twitter"></i>
          </li>
          ·
          <li class="icon" id="linkedin">
            <i class="fab fa-linkedin-in"></i>
          </li>
          ·
          <li class="icon" id="github">
            <i class="fab fa-github-alt"></i>
          </li>
          ·
          <li class="icon" id="email"><i class="fas fa-envelope"></i></li>
        </ul>
      </div>
    </article>
  </section>
</main>