<main>
  <!-- HERO -->
  <section class="hero">
    <div class="img-hero"></div>
  </section>

  <!-- CONTACT -->
  <section class="contact">
    <h2 class="contact-title">contacto</h2>
    <p class="text-contact">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam eligendi,
      temporibus suscipit atque sequi quod reiciendis!
    </p>
    <small class="small-contact"
      >todos los campos marcados con * son obligatorios.</small
    >
  </section>
  <section class="section__form">
    <form class="form" action="/signup" method="post">
      <ul class="ul-form">
        <li>
          <label for="fullName">Nombre completo *</label>
          <input type="text" id="fullName" name="fullName" />
        </li>
        <li>
          <label for="emailAddress">Email *</label>
          <input type="email" id="emailAddress" name="emailAddress" />
        </li>
        <li>
          <label for="telephone">Teléfono</label>
          <input type="tel" id="telephone" name="telephone" />
        </li>
        <li>
          <label for="message">Mensaje*</label>
          <input type="text" id="message" name="message" />
        </li>
        <li class="button-form">
          <button class="button" type="submit">ENVIAR</button>
        </li>
      </ul>
    </form>
  </section>
</main>
