<main>
  <!-- HERO -->
  <section class="hero">
    <div class="img-hero">
      <div class="memoji-hero rosa"></div>
      <div class="memoji-hero pati"></div>
      <div class="memoji-hero maca"></div>
      <div class="memoji-hero maria"></div>
      <div class="memoji-hero elia"></div>
    </div>

    <div class="box-claim">
      <h1 class="claim">Nada es lo que parece</h1>
    </div>
  </section>

  <!-- TEAM -->
  <section id="team" class="container-team">
    <article class="team">
      <h2 class="team-title">EQUIPO</h2>
      <p>
        Somos un grupo de profesionales que venimos de sectores my diversos, lo
        cual nos permite aportar a nuestro proyecto cualidades como la
        creatividad, adaptabilidad, la coordinación y atención al detalle.
        Trabajamos de manera coordinada para lograr un objetivo común,
        proporcionar al cliente el producto que mejor se ajuste a sus
        necesidades.
      </p>
    </article>
  </section>

  <!-- DAFO -->

  <div class="triangle"></div>

  <article class="strength-weaknesses">
    <div class="strength">
      <h3 class="strength-title">Fortalezas</h3>
      <p>
        En Sense5 tenemos claro que la valentía en el desarrollo de nuevos
        proyectos es fundamental, por ello trabajamos en equipo con una amplia
        capacidad para asumir los retos que se nos presenten. La diversidad de
        nuestro equipo nos ayuda a manejar los conflictos con comunicación
        abierta,libre y directa. La confianza, el compromiso, la integridad y la
        excelencia son nuestra seña de identidad.
      </p>
    </div>

    <div class="weaknesses">
      <h3 class="weaknesses-title">Debilidades</h3>
      <p>
        Estamos profundizando poco a poco en el mundo “developer” y, a pesar de
        que nos falta bagaje, las ganas de seguir aprendiendo hace que nuestras
        debilidades se conviertan en fortalezas. Además, todas las integrantes
        de Sense5 cuentan con formación puntera en programación front-end.
      </p>
    </div>
  </article>

  <!-- ADALABERS -->
  <section id="adalabers" class="whoarewe">
    <h2 class="whoarewe-title">Quiénes somos</h2>

    <!-- INFO ELIA -->
    <article class="person-info">
      <img
        src="./assets/images/Memoji-Elia-bluegreen.png"
        alt="Foto de Elia Alonso"
        class="img-elia"
      />
      

      <div class="wrapper-person-info">
        <h3>Elia Alonso</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, ipsa
          tempore voluptas est earum facilis, doloribus blanditiis molestias
          nihil non excepturi nemo veniam suscipit beatae libero dolor minima
          accusantium voluptatibus.
        </p>
        <ul class="wrapper-rrss">
          <li class="icon" id="twitter">
            <i class="fab fa-twitter"></i>
          </li>

          <li class="icon" id="linkedin">
            <i class="fab fa-linkedin-in"></i>
          </li>

          <li class="icon" id="github">
            <i class="fab fa-github-alt"></i>
          </li>

          <li class="icon" id="email"><i class="fas fa-envelope"></i></li>
        </ul>
      </div>
    </article>

    <!-- INFO ROSA -->
    <article class="person-info">
      <img
        class="odd img-rosa"
        src="./assets/images/Memoji-Rosa-bluegreen.png"
        alt="Foto de Rosa Berned"
      />
      <div class="wrapper-person-info">
        <h3>Rosa Berned</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, ipsa
          tempore voluptas est earum facilis, doloribus blanditiis molestias
          nihil non excepturi nemo veniam suscipit beatae libero dolor minima
          accusantium voluptatibus.
        </p>
        <ul class="wrapper-rrss">
          <li class="icon" id="twitter">
            <i class="fab fa-twitter"></i>
          </li>

          <li class="icon" id="linkedin">
            <i class="fab fa-linkedin-in"></i>
          </li>

          <li class="icon" id="github">
            <i class="fab fa-github-alt"></i>
          </li>

          <li class="icon" id="email"><i class="fas fa-envelope"></i></li>
        </ul>
      </div>
    </article>

    <!-- INFO PATRI -->
    <article class="person-info">
      <img
        src="./assets/images/Memoji-Pati-bluegreen.png"
        alt="Foto de Patricia Lobo"
        class="img-patri"
      />
      <div class="wrapper-person-info">
        <h3>Patricia Lobo</h3>
        <p>
          Programadora front-end en proceso, la polivalencia es mi fuerte y mi
          lado IT quiere salir, explorar, conocer y dar todo de mi en un sector
          en el que la constante evolución es la premisa principal, me gustaría
          crecer con ese mismo flujo y solamente poner etiquetas y clases a mi
          código.
        </p>
        <ul class="wrapper-rrss">
          <li class="icon" id="twitter">
            <i class="fab fa-twitter"></i>
          </li>

          <li class="icon" id="linkedin">
            <a
              href="https://www.linkedin.com/in/patricia-lobo-tejedor/"
              target="_blank"
            >
              <i class="fab fa-linkedin-in"></i
            ></a>
          </li>

          <li class="icon" id="github">
            <a href="https://github.com/PatriciaLoboTejedor" target="_blank"
              ><i class="fab fa-github-alt"></i
            ></a>
          </li>

          <li class="icon" id="email">
            <a href="mailto:patricialobotejedor@gmail.com"
              ><i class="fas fa-envelope"></i
            ></a>
          </li>
        </ul>
      </div>
    </article>

    <!-- INFO MACA -->
    <article class="person-info">
      <img
        class="odd img-maca"
        src="./assets/images/Memoji-Maca-bluegreen.png"
        alt="Foto de Maca González"
      />
      <div class="wrapper-person-info">
        <h3>Maca González</h3>
        <p>
          La música, el dibujo, la naturaleza y los animales me definen.
          Apasionada del aprendizaje y nuevos retos. Fisioterapeuta y Osteópata
          con más de 10 años de experiencia. He decidido darle a mi vida un giro
          de 180° e introducirme en el mundo front-end de la mano de Adalab.
        </p>
        <ul class="wrapper-rrss">
          <li class="icon" id="twitter">
            <a href="https://twitter.com/@MacarenaGlezAlonso" target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>

          <li class="icon" id="linkedin">
            <i class="fab fa-linkedin-in"></i>
          </li>

          <li class="icon" id="github">
            <a href="https://github.com/maca23" target="_blank"
              ><i class="fab fa-github-alt"></i
            ></a>
          </li>

          <li class="icon" id="email"><a href="mailto:macarenagonzalezalonso@gmail.com"><i class="fas fa-envelope"></a></i></li>
        </ul>
      </div>
    </article>

    <!-- INFO MARIA -->
    <article class="person-info">
      <img
        src="./assets/images/Memoji-Maria-bluegreen.png"
        alt="Foto de María Núñez"
        class="img-maria"
      />
      <div class="wrapper-person-info">
        <h3>María Núñez</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, ipsa
          tempore voluptas est earum facilis, doloribus blanditiis molestias
          nihil non excepturi nemo veniam suscipit beatae libero dolor minima
          accusantium voluptatibus.
        </p>
        <ul class="wrapper-rrss">
          <li class="icon" id="twitter">
            <i class="fab fa-twitter"></i>
          </li>

          <li class="icon" id="linkedin">
            <i class="fab fa-linkedin-in"></i>
          </li>

          <li class="icon" id="github">
            <i class="fab fa-github-alt"></i>
          </li>

          <li class="icon" id="email"><i class="fas fa-envelope"></i></li>
        </ul>
      </div>
    </article>
    <button class="buttonC">
      <a href="./darkside.html">Nada es lo que parece...</a>
    </button>
  </section>
</main>
