<main>
  <!-- HERO -->
  <section class="heroD">
    <div class="img-heroD"></div>
    <div class="box-claimD">
      <h1 class="claimD">Nada es lo que parece</h1>
    </div>
  </section>

  <!-- TEAM -->
  <section id="team" class="container-teamD">
    <article class="teamD">
      <h2 class="team-titleD">EQUIPO</h2>
      <p>
        Porque las cosas no tienen una sola cara y nuestro perfil es tan
        adaptativo y polivalente como cada una de nosotras. Somos más que
        nuestra experiencia laboral, nos define nuestra actitud, nuestro bagaje,
        y cada una de las cosas que forman parte de nuestra vida, como nuestros
        hobbies, acciones y pasiones.
      </p>
    </article>
  </section>

  <!-- ADALABERS -->
  <section id="adalabers" class="whoareweD">
    <h2 class="whoarewe-titleD">Quiénes somos</h2>

    <!-- INFO ELIA -->
    <article class="person-infoD">
      <img
        src="./assets/images/Elia.png"
        alt="Foto de Elia Alonso"
        class="img-eliaColor"
      />

      <div class="wrapper-person-infoD">
        <h3>Elia Alonso</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, ipsa
          tempore voluptas est earum facilis, doloribus blanditiis molestias
          nihil non excepturi nemo veniam suscipit beatae libero dolor minima
          accusantium voluptatibus.
        </p>
        <ul class="wrapper-rrssD">
          <li class="iconD" id="twitter">
            <i class="fab fa-twitter"></i>
          </li>
          ·
          <li class="iconD" id="linkedin">
            <i class="fab fa-linkedin-in"></i>
          </li>
          ·
          <li class="iconD" id="github">
            <i class="fab fa-github-alt"></i>
          </li>
          ·
          <li class="iconD" id="email"><i class="fas fa-envelope"></i></li>
        </ul>
      </div>
    </article>

    <!-- INFO ROSA -->
    <article class="person-infoD">
      <img
        class="odd img-rosaColor"
        src="./assets/images/Rosa.png"
        alt="Foto de Rosa Berned"
      />
      <div class="wrapper-person-infoD">
        <h3>Rosa Berned</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, ipsa
          tempore voluptas est earum facilis, doloribus blanditiis molestias
          nihil non excepturi nemo veniam suscipit beatae libero dolor minima
          accusantium voluptatibus.
        </p>
        <ul class="wrapper-rrssD">
          <li class="iconD" id="twitter">
            <i class="fab fa-twitter"></i>
          </li>
          ·
          <li class="iconD" id="linkedin">
            <i class="fab fa-linkedin-in"></i>
          </li>
          ·
          <li class="iconD" id="github">
            <i class="fab fa-github-alt"></i>
          </li>
          ·
          <li class="iconD" id="email"><i class="fas fa-envelope"></i></li>
        </ul>
      </div>
    </article>

    <!-- INFO PATRI -->
    <article class="person-infoD">
      <img
        src="./assets/images/Pati.png"
        alt="Foto de Patricia Lobo"
        class="img-patriColor"
      />
      <div class="wrapper-person-infoD">
        <h3>Patricia Lobo</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, ipsa
          tempore voluptas est earum facilis, doloribus blanditiis molestias
          nihil non excepturi nemo veniam suscipit beatae libero dolor minima
          accusantium voluptatibus.
        </p>
        <ul class="wrapper-rrssD">
          <li class="iconD" id="twitter">
            <i class="fab fa-twitter"></i>
          </li>
          ·
          <li class="iconD" id="linkedin">
            <i class="fab fa-linkedin-in"></i>
          </li>
          ·
          <li class="iconD" id="github">
            <i class="fab fa-github-alt"></i>
          </li>
          ·
          <li class="iconD" id="email"><i class="fas fa-envelope"></i></li>
        </ul>
      </div>
    </article>

    <!-- INFO MACA -->
    <article class="person-infoD">
      <img
        class="odd img-macaColor"
        src="./assets/images/Maca.png"
        alt="Foto de Maca González"
      />
      <div class="wrapper-person-infoD">
        <h3>Maca González</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, ipsa
          tempore voluptas est earum facilis, doloribus blanditiis molestias
          nihil non excepturi nemo veniam suscipit beatae libero dolor minima
          accusantium voluptatibus.
        </p>
        <ul class="wrapper-rrssD">
          <li class="iconD" id="twitter">
            <i class="fab fa-twitter"></i>
          </li>
          ·
          <li class="iconD" id="linkedin">
            <i class="fab fa-linkedin-in"></i>
          </li>
          ·
          <li class="iconD" id="github">
            <i class="fab fa-github-alt"></i>
          </li>
          ·
          <li class="iconD" id="email"><i class="fas fa-envelope"></i></li>
        </ul>
      </div>
    </article>

    <!-- INFO MARIA -->
    <article class="person-infoD">
      <img
        src="./assets/images/Maria.png"
        alt="Foto de María Núñez"
        class="img-mariaColor"
      />
      <div class="wrapper-person-infoD">
        <h3>María Núñez</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, ipsa
          tempore voluptas est earum facilis, doloribus blanditiis molestias
          nihil non excepturi nemo veniam suscipit beatae libero dolor minima
          accusantium voluptatibus.
        </p>
        <ul class="wrapper-rrssD">
          <li class="iconD" id="twitter">
            <i class="fab fa-twitter"></i>
          </li>
          ·
          <li class="iconD" id="linkedin">
            <i class="fab fa-linkedin-in"></i>
          </li>
          ·
          <li class="iconD" id="github">
            <i class="fab fa-github-alt"></i>
          </li>
          ·
          <li class="iconD" id="email"><i class="fas fa-envelope"></i></li>
        </ul>
      </div>
    </article>
  </section>
  <div class="buttonD">
    <a href="./index.html">Nada es lo que parece...</a>
  </div>
</main>
