<main>
  <!-- HERO -->
  <section class="hero">
    <div class="img-hero"></div>
  </section>

  <!-- CONTACT -->
  <section class="contact">
    <h2 class="contact-title">contacto</h2>
    <p class="text-contact">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam eligendi,
      temporibus suscipit atque sequi quod reiciendis!
    </p>
    <small class="small-contact"
      >todos los campos marcados con * son obligatorios.</small
    >
  </section>
  <section class="form">
    <form>formulario</form>
  </section>
</main>
