/*ADALABERS*/
.whoareweD {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;

  display: flex;
  flex-flow: column wrap;
  gap: 1rem;

  .whoarewe-titleD {
    color: rgb(225, 46, 65);
    text-transform: uppercase;
    font-family: $main-font-family;
    margin: 1rem;
  }

  .person-infoD {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 10px;

    & img {
      border-radius: 10px;
      height: 180px;
      width: 180px;
    }

    & .img-eliaColor:hover {
      background: url("../images/Elia-color.png") left top no-repeat;
      background-size: 180px 180px;
      padding-left: 180px;
    }

    @media (min-width: 768px) {
      & .img-eliaColor:hover {
        background-size: 207px 207px;
        padding-left: 207px;
      }
    }

    @media (min-width: 1200px) {
      & .img-eliaColor:hover {
        background-size: 278px 278px;
        padding-left: 278px;
      }
    }

    & .img-rosaColor:hover {
      background: url("../images/Rosa-color.jpg") left top no-repeat;
      background-size: 180px 180px;
      padding-left: 180px;
    }

    @media (min-width: 768px) {
      & .img-rosaColor:hover {
        background-size: 207px 207px;
        padding-left: 207px;
      }
    }

    @media (min-width: 1200px) {
      & .img-rosaColor:hover {
        background-size: 278px 278px;
        padding-left: 278px;
      }
    }

    & .img-patriColor:hover {
      background: url("../images/Pati-color.png") left top no-repeat;
      background-size: 180px 180px;
      padding-left: 180px;
    }

    @media (min-width: 768px) {
      & .img-patriColor:hover {
        background-size: 207px 207px;
        padding-left: 207px;
      }
    }

    @media (min-width: 1200px) {
      & .img-patriColor:hover {
        background-size: 278px 278px;
        padding-left: 278px;
      }
    }

    & .img-macaColor:hover {
      background: url("../images/Maca-color.png") left top no-repeat;
      background-size: 180px 180px;
      padding-left: 180px;
    }

    @media (min-width: 768px) {
      & .img-macaColor:hover {
        background-size: 207px 207px;
        padding-left: 207px;
      }
    }

    @media (min-width: 1200px) {
      & .img-macaColor:hover {
        background-size: 278px 278px;
        padding-left: 278px;
      }
    }

    & .img-mariaColor:hover {
      background: url("../images/Maria-color.png") left top no-repeat;
      background-size: 180px 180px;
      padding-left: 180px;
    }

    @media (min-width: 768px) {
      & .img-mariaColor:hover {
        background-size: 207px 207px;
        padding-left: 207px;
      }
    }

    @media (min-width: 1200px) {
      & .img-mariaColor:hover {
        background-size: 278px 278px;
        padding-left: 278px;
      }
    }

    .wrapper-person-infoD h3 {
      color: rgb(241, 101, 116);
      margin: 1rem 0;
    }
    .wrapper-person-infoD p {
      color: white;
    }

    .wrapper-rrssD {
      display: flex;
      flex-flow: row wrap;
      gap: 0.5rem;
      justify-content: center;
      margin: 25px 0;
      color: white;
      i {
        color: white;
      }
      .iconD {
        color: white;
      }
      .fab:after {
        content: "·";
        margin: 0 2px 0 7px;
      }
    }
  }
}
.buttonD {
  text-decoration: none;
  border: none;

  min-width: 250px;
  max-width: 300px;
  height: 40px;

  border-radius: 5px;
  text-align: center;
  margin: auto;

  color: white;
  background-color: rgb(225, 46, 65);
  text-transform: uppercase;
  a {
    padding: 10px;
    color: white;
  }
}

@media (min-width: 768px) {
  .whoareweD {
    .person-infoD {
      text-align: start;

      display: flex;
      flex-flow: row wrap;
      gap: 2rem;
      justify-content: center;

      padding-bottom: 20px;

      & img {
        width: 207px;
        height: 207px;
      }
      .odd {
        order: 2;
      }
      .wrapper-person-infoD {
        flex-basis: 60%;
        .wrapper-rrssD {
          justify-content: start;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .whoareweD {
    width: 70%;
    .person-infoD img {
      width: 278px;
      height: 278px;
    }
  }
}
