/*FOOTER*/
.footer-containerD {
  border-top: 1px solid white;
  background-color: black;
  margin-top: 45px;
  .footer-HomePageD {
    display: flex;
    flex-direction: column;
    align-items: center;
    .copyD {
      margin-top: 30px;
      font-size: 14px;
      color: white;
    }
    .link-footerD {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
      .specific-linkD {
        text-decoration: none;
        line-height: 24px;
        font-size: 14px;
        color: white;
      }
    }
    .logo-footerD {
      margin-top: 30px;
      margin-bottom: 45px;
      .img-logo-footerD {
        height: 45px;
        width: 115.9px;
      }
    }
  }
}

@media (min-width: 768px) {
  .footer-containerD {
    .footer-HomePageD {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-bottom: 60px;
      .copyD {
        margin-top: 20px;
        width: 50%;
        display: flex;
        align-items: flex-start;
      }
      .link-footerD {
        width: 50%;
        margin-top: 25px;
        align-items: flex-end;
      }
      .logo-footerD {
        margin-top: -45px;
        margin-left: -11px;
        margin-bottom: 0;
      }
    }
  }
}
