.headerD {
  z-index: 99;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;

  .titleD {
    height: 60px;
    color: black;
    background: rgba(241, 101, 116, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: $main-font-family;

    .h1D {
      font-size: 16px;
      & img {
        height: 55px;
      }
    }
  }

  .linksD {
    font-size: 15px;
    height: 45px;
    padding: 0 16px;
    background-color: rgba(225, 46, 65, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $main-font-family;

    .aD {
      color: black;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}

@media (min-width: 768px) {
  .headerD {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(225, 46, 65, 0.9);
    padding: 15px 45px;

    .titleD {
      background-color: rgba(225, 46, 65, 0);
    }

    .linksD {
      background-color: rgba(225, 46, 65, 0);
      width: 400px;
      padding: 0;
    }
  }
}

@media (min-width: 1200px) {
  .headerD {
    padding: 0 140px;
  }
}
