.bodyD {
  background-color: black;
}
.container-teamD {
  text-align: center;
  color: white;
  background-color: rgb (14, 14, 14);
  margin-bottom: 15px;
  margin-top: 30px;
  margin: 0 auto;
  .teamD {
    margin-top: 30px;
    padding: 15px 15px 30px 15px;
    .team-titleD {
      color: rgb(225, 46, 65);
      font-family: $main-font-family;
      margin-bottom: 15px;
    }
  }
}
@media (min-width: 768px) {
  .container-teamD {
    margin-bottom: 30px;
    margin-top: 45px;
    max-width: 60%;
  }
}
