.body-dark {
  filter: invert(1);
  background-color: #141414;

  .whoarewe {
    .person-info {
      filter: invert(1);
      & .img-eliaColor:hover {
        filter: grayscale(100);
      }
      & .img-rosaColor:hover {
        filter: grayscale(100);
      }
      & .img-patriColor:hover {
        filter: grayscale(100);
      }
      & .img-macaColor:hover {
        filter: grayscale(100);
      }
      & .img-mariaColor:hover {
        filter: grayscale(100);
      }
      .wrapper-person-info {
        filter: invert(1);
      }
    }
  }
}
