.body-dark {
  filter: invert(1);
  background-color: #141414;
  .memoji-hero {
    filter: invert(1);
  }
  .whoarewe {
    .person-info {
      filter: invert(1);
      & .img-grey:hover {
        filter: grayscale(100);
      }
      .wrapper-person-info {
        filter: invert(1);
      }
    }
  }
  .footer__logoImg {
    filter: invert(1);
  }
}
