/*FOOTER*/
.footer-container {
  border-top: 1px solid grey;
  margin-top: 45px;
}
.footer-HomePage {
  font-family: var(--second-font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer-HomePage {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 60px;
  }
}
.copy {
  margin-top: 30px;
  font-size: 14px;
  color: #b8b8b9;
  font-family: var(--second-font-family);
}
@media (min-width: 768px) {
  .copy {
    margin-top: 20px;
    width: 50%;
    display: flex;
    align-items: flex-start;
  }
}
.link-footer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}
@media (min-width: 768px) {
  .link-footer {
    width: 50%;
    margin-top: 25px;
    align-items: flex-end;
  }
}
.specific-link {
  text-decoration: none;
  line-height: 24px;
  font-size: 14px;
  color: #54585a;
}
.logo-footer {
  margin-top: 30px;
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .logo-footer {
    margin-top: -45px;
    margin-left: -11px;
    margin-bottom: 0;
  }
}
.img-logo-footer {
  height: 45px;
  width: 115.9px;
}
