.hero {
  position: relative;

  .img-hero {
    background: url(../images/imagen-cabecera-mobile.jpg) center;
    background-size: 100%;
    height: 421px;
    margin: 0 auto;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

    .memoji-hero {
      animation: 4s movement ease-in-out infinite;
      border-radius: 30%;
      height: 200px;
      width: 200px;
      outline: thin solid red;
    }

    .elia {
      background: url(../images/Memoji-Elia.png) no-repeat center;
      background-size: contain;
      animation: 4s movement2 ease-in-out infinite;
    }

    .rosa {
      background: url(../images/Memoji-Rosa.png) no-repeat center;
      background-size: contain;
    }

    .pati {
      background: url(../images/Memoji-Pati.png) no-repeat center;
      background-size: contain;
      animation: 4s movement3 ease-in-out infinite;
    }

    .maca {
      background: url(../images/Memoji-Maca.png) no-repeat center;
      background-size: contain;
    }

    .maria {
      background: url(../images/Memoji-Maria.png) no-repeat center;
      background-size: contain;
      animation: 4s movement2 ease-in-out infinite;
    }
  }
  .box-claim {
    background-color: white;

    height: 80px;
    bottom: -40px;
    position: absolute;
    text-align: center;

    margin-left: 15px;
    width: 90%;

    .claim {
      font-size: 16px;
      line-height: 25px;
      color: black;
      padding: 15px;
      height: 80px;
      font-family: $main-font-family;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    .box-claim {
      background-color: rgba(255, 255, 255, 0.8);
      width: 60%;
      bottom: 0px;
      margin-left: 46px;
      .claim {
        font-size: 18px;
        padding: 15px 30px 15px 30px;
        text-align: left;
      }
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    .img-hero {
      height: 550px;
      background: url(../images/imagen-cabecera-mobile.jpg) center;
      background-size: 100%;
    }
    .box-claim {
      height: 90px;
      margin-left: 140px;
      .claim {
        font-size: 24px;
        line-height: 30px;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

@keyframes movement {
  from {
    transform: translateY(5%);
  }

  40% {
    transform: translateX(-5%);
  }

  65% {
    transform: translateX(5%);
  }

  to {
    transform: translateY(5%);
  }
}

@keyframes movement2 {
  from {
    transform: translateY(-5%);
  }

  40% {
    transform: translateX(7%);
  }

  65% {
    transform: translateX(-7%);
  }

  to {
    transform: translateY(-5%);
  }
}

@keyframes movement3 {
  from {
    transform: translateY(20%);
  }

  40% {
    transform: translateX(-5%);
  }

  65% {
    transform: translateX(5%);
  }

  to {
    transform: translateY(20%);
  }
}
