.hero {
  position: relative;
  .img-hero {
    background: url(../images/imagen-cabecera-mobile.jpg) center;
    height: 421px;
    background-size: 100%;
  }
  .box-claim {
    background-color: white;

    height: 80px;
    bottom: -40px;
    position: absolute;

    margin-left: 15px;
    width: 90%;

    .claim {
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      font-size: 16px;
      line-height: 25px;
      color: black;
      padding: 15px;
      display: table-cell;
      vertical-align: middle;
      height: 80px;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    .box-claim {
      background-color: rgba(255, 255, 255, 0.8);
      width: 60%;
      bottom: 0px;
      margin-left: 46px;
      .claim {
        font-size: 18px;
        padding: 15px 30px 15px 30px;
        text-align: left;
      }
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    .img-hero {
      height: 550px;
      background: url(../images/imagen-cabecera.jpg) center;
      background-size: 100%;
    }
    .box-claim {
      height: 90px;
      margin-left: 140px;
      .claim {
        font-size: 24px;
        line-height: 30px;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}
